<html>
<head>
    <meta charset="UTF-8">
    <title>Поиск</title>
</head>
<body style="background-image:url(./templates/fon2.jpg);  background-size: 115%">
<header>
	<h1 style="font-family:Impact; font-size:65px" align = "center"></h1>
</header>

<h2 align = "center" style="font-family: Verdana; font-size:30px; margin-top:35; margin-bottom:20">Смысл жизни вы тут не найдете </h2>
<form method="GET" align = "center">
<label style="font-family: Verdana; font-size:25px; margin-bottom:60">Что вы ищете? <input type="text" name="query"> </label><br><br>
<div style="text-align: center; width: 100%;">
<input type="submit" name="method" style="font-family: Verdana; font-size:15px; display: inline-block;" value="TF-IDF"></input>
	<input type="submit" name="method" style="font-family:Verdana; font-size:15px; display: inline-block;" value="BM25"></input>
	<input type="submit" name="method" style="font-family:Verdana; font-size:15px; display: inline-block;" value="FastText"></input></div><br><br>
</form>
</body>
</html>

